<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212834;

}

body {
    font-family: Arial, sans-serif;
    background-color: #212834;
    /* background-image: url("../public/castle.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 20px;
}


.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.login-form {
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 25px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 15px;
    width: 100%;
    background-color: #bfa997;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #908073;
}

.sub {
    text-align: center;
}
=======
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .Register {
    margin: auto;
    background-color: #ffeb3b;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #454545;
    box-shadow: 0px 4px 8px #4a4a4a;
    color: black;
    padding: 20px 30px;
  }
  
  input {
    border: 2px solid #323232;
    padding: 10px 20px;
    outline: none;
    border-radius: 25px;
    width: 100%;
  }
  
  input:focus {
    border: 2px #777777 solid;
  }
  
  .sub {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="submit"] {
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0 auto;
    width: 100px;
    cursor: pointer;
  }
  
  .Login {
    margin: 50px auto 20px;
    background-color: #ffeb3b;
    border-radius: 25px;
    width: 300px;
    border-color: black;
    color: black;
    padding: 30px 20px;
    box-shadow: 0px 4px 8px #777777;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
  }
  
>>>>>>> origin/main
