<<<<<<< HEAD
.Login {
    padding: 40px 150px 20px 30px;
    width: 130px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 500px;
    /* background-color: blue; */
    border-radius: 50px;
    border: 5px black solid;
    box-shadow: 0px 4px 8px #4a4a4a;
}

.sub {
    padding: 10px 90px 30px 25px;
    /* width: 70%; */
}

input[type="submit"] {
    padding: 10px 90px 10px 50px;
    background: #fffefe;
    border: black;
    width: 50%;
    cursor: pointer;
    border: 5px rgb(7, 7, 7) solid;
    border-radius: 50px;
    /* margin-top: 10px; */
}

input[type="email"] {
    /* border: black; */
    cursor: pointer;
    border: 5px black solid;
    border-radius: 50px;
    width: 200%;
}

input[type="name"] {
    /* border: black; */
    cursor: pointer;
    border: 5px black solid;
    border-radius: 50px;
    width: 200%;
}

input[type="password"] {
    /* border: black; */
    cursor: pointer;
    border: 5px black solid;
    border-radius: 50px;
    width: 200%;
}

input[type="text"] {
    /* border: black; */
    cursor: pointer;
    border: 5px black solid;
    border-radius: 50px;
    width: 200%;
}

.Register {
    position: relative;
    top: 20px;
    left: 500px;
    background-color: yellow;
    width: 100px;
    height: 180px;
    border-radius: 50px;
    border-color: black;
    padding: 50px 170px 80px 50px;
    box-shadow: 0px 4px 8px #777777;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
}
=======
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .Login {
    margin: auto;
    background-color: #ffeb3b;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #454545;
    box-shadow: 0px 4px 8px #4a4a4a;
    color: black;
    padding: 20px 30px;
  }
  
  input {
    border: 2px solid #323232;
    padding: 10px 20px;
    outline: none;
    border-radius: 25px;
    width: 100%;
  }
  
  input:focus {
    border: 2px #777777 solid;
  }
  
  .sub {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="submit"] {
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0 auto;
    width: 100px;
    cursor: pointer;
  }
  
  .Register {
    margin: 50px auto 20px;
    background-color: #ffeb3b;
    border-radius: 25px;
    width: 300px;
    border-color: black;
    padding: 30px 20px;
    box-shadow: 0px 4px 8px #777777;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
  }
  
>>>>>>> origin/main
